.timeline-form-buttons {

}
.timeline-form-buttons button {
    margin: 14px 12px;
}

.card .timeline-form-views{
    display: none;
}

.timeline-form-views {
    display: none;
}


.card-head .toolbar-left {
    float: left;
    margin-left: 10px;
}



.timeline-entry .title{
    margin: 0;
}
.timeline-entry .toolbar {
    margin-top: 10px;
}
.timeline-entry .energy-intake, .timeline-entry .energy-outtake {
    margin-right: 5px;

}
.timeline-entry .energy-intake {
    color: #ff8100;
}

.timeline-entry .nutrients {
    display: none;
    margin-top: 15px;
    padding-left: 20px;
}
.category_c  .timeline-circ{
    background-color: #f66265!important;
}
.category_a .timeline-circ{
    background-color: #0aa89e!important;
}